@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuItalic";
  font-weight: italic;
  font-style: normal;
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuLight";
  font-weight: lighter;
  font-style: normal;
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuMedium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype"); }

@font-face {
  font-family: "UbuntuRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype"); }

/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  font-family: "UbuntuLight", sans-serif;
  padding-bottom: 540px;
  background: #fff; }

.wrap {
  background: #fff;
  position: relative;
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

img {
  display: block;
  max-width: 100%; }

.textarea {
  height: 100px;
  padding: 20px;
  border: none;
  resize: none; }

.form {
  width: 380px; }
  .form__field {
    margin-bottom: 10px; }
  .form input, .form textarea {
    color: #393939;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    height: 52px;
    background: #eeeeee;
    border: none;
    text-align: center; }
    .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
      font-size: 14px;
      color: #393939; }
    .form input:-moz-placeholder, .form textarea:-moz-placeholder {
      font-size: 14px;
      color: #393939; }
    .form input::-moz-placeholder, .form textarea::-moz-placeholder {
      font-size: 14px;
      color: #393939; }
    .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
      font-size: 14px;
      color: #393939; }
    .form input::placeholder, .form textarea::placeholder {
      font-size: 14px;
      color: #393939; }
  .form .textarea {
    height: 100px;
    padding: 20px;
    border: none;
    resize: none; }

.button {
  text-align: center;
  height: 52px;
  text-decoration: none;
  line-height: 52px;
  background: #00aaef;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  display: block; }
  .button_inline {
    display: inline-block;
    padding: 0 66px;
    width: auto; }

.container {
  max-width: 940px;
  margin: 0 auto; }

.hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 100%; }
  .hero .container {
    height: 100vh;
    position: relative;
    min-height: 500px; }

.header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0; }
  .header__logo {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -46px;
    width: 110px; }
  .header__tel {
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
    font-size: 16px;
    float: left;
    text-decoration: none;
    color: #fff; }
  .header__order {
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px #fff dashed;
    font-weight: bold;
    opacity: 0.6;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 16px; }

.nav {
  position: absolute;
  list-style: none;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }

.section {
  padding: 130px 0px;
  position: relative; }
  .section:nth-child(odd) {
    background: #eeeeee; }
  .section__title {
    top: -.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "UbuntuLight";
    padding-bottom: 15px;
    line-height: 1; }
    .section__title .icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: -12px;
      bottom: 0; }
    .section__title:after, .section__title:before {
      content: "";
      height: 2px;
      background: #00aaef;
      width: calc(50% - 20px);
      position: absolute;
      bottom: 0; }
    .section__title:before {
      left: 0; }
    .section__title:after {
      right: 0; }
  .section__button {
    text-align: center;
    margin-top: 30px; }
  .section__box {
    display: flex;
    justify-content: space-between; }
    .section__box .right {
      width: 450px; }
      .section__box .right h2 {
        font-size: 36px;
        font-family: Ubuntu;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 48px; }
      .section__box .right p {
        font-weight: 700; }

.best__wrapper {
  display: flex; }

.best__moto {
  font-family: "UbuntuLight";
  font-weight: 100;
  text-transform: uppercase;
  font-size: 48px;
  width: 45%;
  line-height: 60px;
  font-weight: 400; }
  .best__moto span {
    color: #00aaef; }

.best__text {
  width: 55%;
  font-family: 'UbuntuRegular'; }

.textual {
  font-size: 16px;
  line-height: 1.5;
  color: #000; }
  .textual p, .textual ol {
    margin-bottom: 1em; }
  .textual ol li {
    padding-left: 5px; }
  .textual__big {
    font-size: 24px;
    line-height: 36px;
    font-family: 'UbuntuRegular';
    font-weight: 400; }
    .textual__big a {
      text-decoration: none;
      color: #000; }

.apart {
  margin-bottom: 30px; }
  .apart h2 {
    font-family: 'UbuntuRegular';
    font-size: 16px;
    font-weight: 600; }
  .apart span {
    color: #00aaef; }
  .apart__photos {
    display: flex;
    margin-bottom: 18px; }
  .apart__photo {
    flex: 1;
    height: 260px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .apart__photo:first-child {
      margin-right: 20px; }
  .apart--left .apart__photo:first-child {
    flex: 2; }
  .apart--right .apart__photo:last-child {
    flex: 2; }

.testi {
  display: flex;
  justify-content: space-between; }

.t {
  text-align: center;
  padding: 0 2%; }
  .t__photo {
    width: 145px;
    height: 145px;
    background-size: cover;
    border-radius: 50%;
    background-position: 50% 50%;
    display: inline-block;
    position: relative; }
    .t__photo:before {
      content: "";
      position: absolute;
      background-image: url("../img/quotes.png");
      height: 50px;
      width: 50px;
      background-position: 0 0;
      background-size: contain;
      left: -40px;
      top: 50%;
      margin-top: -15px; }
  .t__name {
    font-family: 'UbuntuBold';
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    color: #000; }
  .t__position {
    font-size: 16px;
    font-family: 'UbuntuItalic';
    color: #696973;
    margin-top: 10px;
    font-style: italic; }
  .t__descr p {
    font-family: 'UbuntuRegular';
    font-size: 16px;
    margin-top: 10px;
    width: 279px;
    text-align: center;
    line-height: 22px; }

.contact__block {
  display: flex;
  justify-content: space-between; }

.footer {
  height: 540px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .footer__logo {
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer__copy {
    position: absolute;
    color: #fff;
    text-align: center;
    bottom: 60px;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 700; }
