<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}<div class="wrap">
        <div class="hero" style="background-image: url(img/hero.jpg)">
            <div class="container">
                <header class="header">
                    <a class="header__tel" href="tel:">8 800 500 50 50</a>
                    <div class="header__logo">
                        <a href="#">
                            <img src="img/logo.svg" alt="">
                        </a>

                    </div>
                    <a class="header__order" href="tel:">call to order</a>
                </header>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us </a></li>
                    <li><a href="#">Gallery </a></li>
                    <li><a href="#">Consultation</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <section class="section best">
            <div class="container">
                <div class="best__wrapper">
                    <div class="best__moto">
                        Miami
                        <strong>best</strong>
                        <br>
                        Realry
                        <span>— <br> THIS</span>
                    </div>
                    <div class="best__text textual">
                        <p>
                            <strong>Over 50 years experience in love.</strong> <br>
                            Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.
                        </p>
                        <ol>
                            <li>The market leader in real estate since 2003</li>
                            <li>Awards Real Estate Company, 2010, 2011, 2013</li>
                            <li>More than 200 satisfied customers premium segment</li>
                            <li>We focus only on new buildings and high-level</li>
                            <li>Working directly with developers - so have more
                                     useful information about the profitable deals</li>
                        </ol>
                        <p>
                            <strong>We will never late! <br>
                                Guaranteed secure transaction - 100%</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="section__title">
                    Gallery
                    <img class="icon" src="img/decor.svg" alt="">
                </h2>
                <div class="apart apart--left">
                    <div class="apart__photos">
                        <div class="apart__photo" style="background-image:url(img/gallery3.png)">
                        </div>
                        <div class="apart__photo" style="background-image:url(img/gallery2.png)">
                        </div>
                    </div>
                    <h2>
                        Marina Palms / <span> North Miami Beach, FL 33162</span>
                    </h2>
                </div>
                <div class="apart ">
                    <div class="apart__photos">
                        <div class="apart__photo" style="background-image:url(img/gallery1.png)">
                        </div>
                        <div class="apart__photo" style="background-image:url(img/gallary4.png)">
                        </div>
                    </div>
                    <h2>
                        Edition Residens / <span> Miami Beach, FL 33139</span>
                    </h2>
                </div>
                <div class="apart apart--right ">
                    <div class="apart__photos">
                        <div class="apart__photo" style="background-image:url(img/gallery5.png)">
                        </div>
                        <div class="apart__photo" style="background-image:url(img/gallery6.png)">
                        </div>
                    </div>
                    <h2>
                        Faena House / <span> Miami Beach, FL 33140</span>
                    </h2>
                </div>
                <div class="section__button">
                    <a class="button button_inline" href="#">View all</a>
                </div>

            </div>
        </section>
        <section class="section consultation">
            <div class="container">
                <h2 class="section__title">
                    Consultation
                    <img class="icon" src="img/decor.svg" alt="">
                </h2>
                <div class="section__box">
                    <div class="right textual">
                        <h2>
                            How long have <br>
                            you do yourself a gift?
                        </h2>
                        <p>
                            The procedural change mezzo forte starts izoritmichesky pickup at these moments stop LA Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical
                        </p>
                    </div>
                    <div class="left">

        <form action="" class="form">
            <div class="form__field"><input  type="text" placeholder="Name"></div>
            <div class="form__field"><input  type="tel" placeholder="Phone"></div>
            <div class="form__field"><input  type="mail" placeholder="Email"></div>
            <a href="#" class="button">Consultation</a>
        </form>

                    </div>
                </div>
            </div>
        </section>
        <section class="section testimonials">
        <div class="container">
            <h2 class="section__title">
                Testimonials <img class="icon" src="img/decor.svg" alt="">
            </h2>
            <div class="testi">
                <div class="t">
                    <div class="t__photo" style="background-image: url(img/3.jpg);">
                    </div>
                    <div class="t__name">
                        Gal Gadot
                    </div>
                    <div class="t__position">
                        Actriss
                    </div>
                    <div class="t__descr">
                        <p>
                            Nice work, Certificates National Association of Realtors (USA).
                        </p>
                    </div>
                </div>
                <div class="t">
                    <div class="t__photo" style="background-image: url(img/2.jpg);">
                    </div>
                    <div class="t__name">
                         Zoe Saldana
                    </div>
                    <div class="t__position">
                        Actriss
                    </div>
                    <div class="t__descr">
                        <p>
    My soul is illuminated by an unearthly joy, as these beautiful spring morning, which I enjoy with all my heart. <br> I'm all alone and blissfully happy in the local edge.
                        </p>
                    </div>
                </div>
                <div class="t">
                    <div class="t__photo" style="background-image: url(img/1.jpg);">
                    </div>
                    <div class="t__name">
                        Olivia Wilde
                    </div>
                    <div class="t__position">
                        Actriss
                    </div>
                    <div class="t__descr">
                        <p>
                            When my lovely valley of steam rises and half-day sun is above an impermeable. thicket
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section contact">
        <div class="container">
            <h2 class="section__title">
                Contact <img class="icon" src="img/decor.svg" alt="">
            </h2>
    <div class="contact__block">
        <div class=" textual textual__big">
    <p>  <a href="#">Hello@miami.com</a></p>
    <p>8 800 678 78 78 <br>
    8 800 700 98 98 </p>
    <p>400 first ave. n. <br>
    suite 700 <br>
    Minneapolis, MN 55401 </p>
        </div>

    <form class="form" action="">
        <div class="form__field"><input  type="text" placeholder="Name"></div>
        <div class="form__field"><input  type="tel" placeholder="Phone"></div>
        <div class="form__field"><input  type="mail" placeholder="Email"></div>
        <div class="form__field">
        <textarea class="textarea" name="" placeholder="Message" id="" cols="30" rows="10"></textarea>
        </div>
        <a href="#" class="button">Write to us</a>
    </form>

    </div>
        </div>
    </section>
    </div>
<footer class="footer" style="background-image: url(img/footer.jpg)">
<div class="footer__logo">
    <img  src="img/logo.svg" alt="">
</div>
<div class="footer__copy">
    © 2013 Miami.
</div>
</footer>{% endblock %}
